openapi: "3.0.1"
info:
  title: "HuBMAP Antibody API"
  description: "The HuBMAP Antibody API is a standard RESTful web service with create\
    \ operations.<br><br>"
  version: "1.0.0"
servers:
- url: "https://www.avr.hubmapconsortium.org"
paths:
  /restore_elasticsearch:
    put:
      responses:
        "500":
          description: "500 response"
          content: {}
        "200":
          description: "200 response"
          content: {}
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "PUT"
        uri: "http://${stageVariables.VPCNLB}/restore_elasticsearch"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /login:
    get:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "GET"
        uri: "http://${stageVariables.VPCNLB}/login"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
    options:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "OPTIONS"
        uri: "http://${stageVariables.VPCNLB}/login"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /antibodies:
    get:
      responses:
        "500":
          description: "500 response"
          content: {}
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrayOfAntibodyListed"
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "GET"
        uri: "http://${stageVariables.VPCNLB}/antibodies"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MODEL2cecd2"
        required: true
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL1558b4"
        "406":
          description: "406 response"
          content: {}
        "400":
          description: "400 response"
          content: {}
        "401":
          description: "401 response"
          content: {}
        "500":
          description: "500 response"
          content: {}
        "403":
          description: "403 response"
          content: {}
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "POST"
        uri: "http://${stageVariables.VPCNLB}/antibodies"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /static/dist/search.bundle.js:
    get:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "GET"
        uri: "http://${stageVariables.VPCNLB}/static/dist/search.bundle.js"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /static/favicon.ico:
    get:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "GET"
        uri: "http://${stageVariables.VPCNLB}/favicon.ico"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /css/app.css:
    get:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "GET"
        uri: "http://${stageVariables.VPCNLB}/css/app.css"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /upload:
    get:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "GET"
        uri: "http://${stageVariables.VPCNLB}/upload"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /_search:
    post:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "POST"
        uri: "http://${stageVariables.VPCNLB}/_search"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /antibodies/import:
    post:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "POST"
        uri: "http://${stageVariables.VPCNLB}/antibodies/import"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
    options:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "OPTIONS"
        uri: "http://${stageVariables.VPCNLB}/antibodies/import"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
  /:
    get:
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.VPCLINK}"
        httpMethod: "GET"
        uri: "http://${stageVariables.VPCNLB}/"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        connectionType: "VPC_LINK"
components:
  schemas:
    Antibody:
      type: "object"
      properties:
        protocols_io_doi:
          type: "string"
          description: "The protocols.io digital object identifier for the protocol\
            \ under which the sample was obtained and/or prepared."
        uniprot_accession_number:
          type: "string"
          description: "https://www.uniprot.org/help/accession_numbers"
        target_name:
          type: "string"
          description: "The name of the antibody's target."
        rrid:
          type: "string"
          description: "The associated Research Resource IDentifier (https://scicrunch.org/resources)."
        antibody_name:
          type: "string"
          description: "The antibody's name."
        host_organism:
          type: "string"
          description: "The antibody's host organism."
        clonality:
          type: "string"
          description: "One of the values: monoclonal (one), oligoclonal (few), and\
            \ polyclonal (many)."
          enum:
          - "monoclonal"
          - "polyclonal"
          - "oligoclonal"
        vendor:
          type: "string"
          description: "The antibody's vendor."
        catalog_number:
          type: "string"
        lot_number:
          type: "string"
        recombinant:
          type: "boolean"
          description: "True if the antibody is recombinant."
        organ_or_tissue:
          type: "string"
          description: "Organ or tissue affected."
        hubmap_platform:
          type: "string"
          description: "The assay employed for the antibody."
        submitter_orcid:
          type: "string"
          description: "The ORCID iD of the submitter (https://orcid.org/)"
    MODEL2cecd2:
      type: "object"
      properties:
        antibody:
          $ref: "#/components/schemas/Antibody"
    AntibodyListed:
      allOf:
      - $ref: "#/components/schemas/Antibody"
      - type: "object"
        properties:
          antibody_uuid:
            type: "string"
            description: "The unique identifier for the antibody."
          created_by_user_displayname:
            type: "string"
            description: "The name of the person or process authenticated when creating\
              \ the object."
          created_by_user_email:
            type: "string"
            description: "The email address of the person or process authenticated\
              \ when creating the object."
          created_by_user_sub:
            type: "string"
            description: "The subject id as provided by the authorization mechanism\
              \ for the person or process authenticated when creating the object."
          group_uuid:
            type: "string"
            description: "The unique identifier for the group for the person or process\
              \ authenticated when creating the object."
    ArrayOfAntibodyListed:
      type: "array"
      items:
        $ref: "#/components/schemas/AntibodyListed"
    MODEL1558b4:
      type: "object"
      properties:
        id:
          type: "integer"
          description: "The ID of the Antibody just created."
          format: "int32"
